<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.skferdous.justdigitaldiary">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JUSTDigitalDiary"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".VehicleTracking.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".VehicleTracking.VehicleTracking"
            android:label="Vehicle Tracking"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Explore.PortalActivity"
            android:label="Portal"
            android:parentActivityName=".Explore.ExploreActivity" />
        <activity
            android:name=".Authentication.UserManual"
            android:label="User Manual"
            android:parentActivityName=".Authentication.LoginActivity" />
        <activity
            android:name=".NotePad.InvitedNotePad"
            android:label="Shared Notes"
            android:parentActivityName=".NotePad.NotePad" />
        <activity
            android:name=".Calendar.AddingEvent"
            android:label="Add your events"
            android:parentActivityName=".Calendar.CalendarActivity" />
        <activity
            android:name=".Explore.WebsiteActivity"
            android:theme="@style/Theme.LightPrimaryActionBar" />
        <activity
            android:name=".Authentication.SignupActivity"
            android:label="Making account"
            android:parentActivityName=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".NotePad.ViewNote"
            android:label="Action to note"
            android:parentActivityName=".NotePad.NotePad" />
        <activity
            android:name=".NotePad.MakeNote"
            android:label="Make your note"
            android:parentActivityName=".NotePad.NotePad" />
        <activity
            android:name=".Contact.FacultyListActivity"
            android:parentActivityName=".Contact.DeptActivity">

            <!--
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Contact.FacultyListActivity" />
            -->
        </activity>
        <activity
            android:name=".Contact.DeptActivity"
            android:parentActivityName=".Contact.ContactNode" />
        <activity
            android:name=".Contact.ContactListActivity"
            android:parentActivityName=".Contact.ContactNode" />
        <activity
            android:name=".NotePad.NotePad"
            android:theme="@style/Theme.LightPrimaryActionBar" />
        <activity
            android:name=".Explore.ExploreActivity"
            android:label="Explore JUST"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:label="JUST Calendar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Contact.ContactNode"
            android:label="Node of Contact"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotePad.ShareNoteView"
            android:parentActivityName=".NotePad.NotePad" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.WhiteActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>